.sebm-google-map-container {
	height: 600px;
	width: 100%;
	margin-bottom: 15px;
	
}

.sebm-google-map-container-inner {
	border: 2px solid;
}

    .info-window {
        width: 400px;
        height: 150px;
        font-family: Arial;
        }

    .info-img {
        width: 100px;
        height: auto;
        vertical-align: middle;
        margin-top: 15px;
    }

    .info-div-left {
        width: 100px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .info-div-right {
        width: 290px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .info-rent {
        text-align: center;
        font-weight: bolder;
        font-size:1.1em;
        margin: 2px;
    }
    .info-size {
        text-align: center;
        font-weight: bolder;
        margin: 2px;
    }
    .info-address {
        margin-top: 10px;
    }

    .info-availability {
        text-align: center;
        margin-top: 10px;
        font-weight: bolder;
        color: #AA0000;
    }
